*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
.card_container {
  perspective: 1000px;
  width: 350px;
  height: 250px;
  margin: 100px auto;
  text-align: center;
}
.card {
  width: 100%;
  height: 100;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}
.card_container:hover .card {
  transform: rotatey(180deg);
}

.backcard,
.frontcard {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.frontcard {
  background-color: white;
  padding: 20px;
}
.frontcard img {
  width: 75px;
  height: 200px;
  margin: 65px auto;
  display: block;
  max-width: 80%;
}
.backcard {
  position: relative;
  padding: 2px;
  border-radius: 15px;

  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  transform: rotateY(180deg);
  animation: flow-border 3s linear infinite;
  background-size: 300% 300%;
}

.backcard_container {
  color: #ffffff;
  border-radius: 13p;
  padding: 16px 20px 12px 20px;
  font-weight: 500;

  overflow-y: auto;
  height: 100%;
  text-align: left;
}
.name {
  font-size: 10px;
  letter-spacing: 2px;
  color: #0047d4;
  text-transform: uppercase;
  font-weight: 300;
}
.title {
  font-size: 20px;
  font-weight: 700;
  margin: 8px 0;
}
.description {
  color: #d8cccc;
  margin-bottom: 10px;
  font-size: 15px;
}
.btn {
  padding: 6px 12px;
  border: 1px solid #4caf50;
  background-color: #00ffff;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}
.btn:hover {
  background-color: #004382;
  color: white;
  border-color: #43a047;
}
.frontcard:hover {
  transform: rotateY(180deg);
}
@keyframes flow-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
